body {
  background-color: #e3e6e4 !important;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px 0;
}

td:first-child {
  padding-right: 10px;
}

td:last-child {
  padding-left: 10px;
}

.fly {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}