.article {
  margin-left: 20%;
  margin-right: 20%;
}

.article pre {
  width: auto;
  display: block;
  border-radius: 10px; 
  max-width: fit-content;
  margin: auto;
}

.article code {
  background-color: black;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

@media (max-width: 1280px) {
  .article {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .article {
    margin-left: 5%;
    margin-right: 5%;
  }
}
