.article {
  margin-left: 20%;
  margin-right: 20%;
}

.article code {
  width: auto;
  display: block;
  overflow-x: scroll; 
  border-radius: 10px; 
}

@media (max-width: 1280px) {
  .article {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .article {
    margin-left: 5%;
    margin-right: 5%;
  }
}
