.title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.card {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card_content {
	display: flex;
	color: black;
}

.post_link {
	text-decoration: none;
	color: black;
}

.thumbnail_container {
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.thumbnail {
	height: 150px;
	width: auto;
}

@media (max-width: 768px) {
	.card {
		padding: 0.5rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}

	.card_content {
		flex-direction: column;
	}
}