.card_brief {
	flex-grow: 1;
	padding-left: 2rem;
}

.title_time {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 1.5rem;
	font-weight: 520;
	margin-bottom: 0.5rem;
	text-align: center;
}

.time {
	font-size: 0.8rem;
	color: #6c757d;
	margin-bottom: 0.5rem;
	justify-content: center;
	align-items: center;
	display: flex;
	
}

.card {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card_content {
	display: flex;
	color: black;
}

.post_link {
	text-decoration: none;
	color: black;
}

.thumbnail_container {
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.thumbnail {
	width: 150px;
	height: auto;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}

.tag {
	margin: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: black;
	font-size: 0.8rem;
}

.post_title {
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
	font-weight: 600;
}

.post_time {
	display: flex;
	justify-content: space-around;
	font-size: 1rem;
	color: #6c757d;
}

.post_tags {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.card {
		padding: 0.5rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}

	.card_content {
		flex-direction: column;
	}

	.card_brief {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}

	.tags {
		justify-content: end;
	}

	.thumbnail_container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 aspect ratio */
		overflow: hidden;
	}

	.thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}