.title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.card {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 20%;
	margin-right: 20%;
}

.card_content {
	display: flex;
}

.post_link {
	text-decoration: none;
	color: black;
}

.thumbnail_container {
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.thumbnail {
	height: 150px;
	width: auto;
}

@media (max-width: 768px) {
	.card {
		margin-left: 0;
		margin-right: 0
	}

	.card_content {
		flex-direction: column;
	}
}